body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: 80px 160px;
}
.flex-item{
    display: flex;
    justify-content: space-between;
}
.banner-section .half-width{
    width: 43%;
}
.banner-section .half-width .tittle{
    border-left: 5px solid tomato;
}
.banner-section .half-width .tittle h1{
    font-size: 60px;
    color: rgba(0, 0, 0, 0.822);
    margin-left: 10px;
    line-height: 0.7;
}
.banner-section .half-width .tittle span{
    display: block;
    margin-top: 30px;
}
.yellow-text{
    color: #fb9740;
}
p{
    font-size: 18px;
    color: rgb(59, 59, 59);
    margin-bottom: 40px;
}
.link-button{
    text-decoration: none;
    padding: 15px 50px;
    font-weight: 900;
    color: wheat;
    background: tomato;
    border-radius: 5px;
}
.banner-section .half-width h5{
    font-weight: 400;
    color: rgb(70, 70, 70);
    margin-top: 40px;
    font-size: 18px;
}
.banner-section .half-width img{
    width: 450px;
    height: 450px;
}
.mission-section h1{
    font-size: 55px;
    color: rgb(9, 5, 53);
    font-weight: 900;
    text-align: center;
}
.mission-section .card{
    width: 26%;
    padding: 35px;
    border-radius: 20px;
}
.mission-section img{
    width: 150px;
    height: 150px;
}
#card1{
    background-color: #e9f3f5;
}
#card2{
    background-color: #FFEEEE;
}
#card3{
    background-color: #FFF4D6;
}
.article-section, .community-section, .member-section{
    margin-top: 100px;
}
.article-section .half-width img{
    width: 430px;
    height: 410px;
    margin-right: 80px;
}
.article-section .half-width h1, .community-section .half-width h1{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.822);
    font-weight: 900;
}
.article-section .half-width span{
    display: block;
}
.tomato-text{
    color: tomato;
}
.community-section .half-width img{
    width: 430px;
    height: 410px;
    margin-left: 80px;
}
.member-section h1{
    font-size: 35px;
    margin-bottom: 40px;
}
.member-section .member{
    width: 21%;
    border: 2px solid tomato;
    text-align: center;
    border-radius: 10px;
    padding: 20px 10px;
}
.member-section .member img{
    width: 180px;
    height: 180px;
}
.member-section .member h4{
    letter-spacing: 0.8px;
    color: rgb(83, 83, 83);
    margin-top: -15px;
}
.member-section .member a{
    text-decoration: none;
    color: tomato;
    font-weight: 700;
}
.member-section .member a:hover{
    color: #fd8d2b;
}
footer{
    background-color: #0B0D17;
    padding: 50px 0;
    text-align: center;
}
footer h1{
    color: white;
    font-family: 'Lobster', cursive;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 40px;
}
footer h4{
    color: rgba(255, 255, 255, 0.616);
    font-weight: 100;
}